{% extends "layout.html" %}

{% block title %}
    <div class="container-fluid p-0">
        <img src= "/static/title2.png" width = "100%"  alt="title"> 
    </div>
{% endblock%}
        
{% block main %}

<div class="classWithrowPad">
    <div class="row">
        <div class="col-md-6" >
            <img src="https://runawaydatabase.s3.amazonaws.com/51741c0a30b4439fa2cd357f732c5d74.jpg" alt="examplead"  height="300px"  />
        </div>
        <div class="col-md-6 ">
            <div class="classWithPad">
                <h1> 
                    Breaking free is a database that is being created 
                    to tell the stories of enslaved individuals living in a slave society
                </h1>
                <p> 
                    Runaway ads are ads that enslavers would post in newspapers
                    to locate fugitives slaves that had runaway from there place enslavement
                </p>
            </div>
        </div>
    </div>
</div>

<div class="AboutText">
    <div class="row">
        <div class="col-md-6 ">
            <div class="classWithPad">
                <h1> 
                    These ads offer a glimpse of what life was like for people living in a slave society
                </h1>
                <p> 
                    Escape or "Marronage" was a common form of resistance to the hardships of slavery
                    Carribean Marronage was different as there were only such limited places for people to
                    run to on an island. Most marronage attempts would not be successful and these people 
                    would most certianly be punished harshly 
                </p>
            </div>
        </div>
        <div class="col-md-6" >
            <img src="https://runawaydatabase.s3.amazonaws.com/654c0df050c24796aef663503bcc5aa6.jpg" alt="examplead"  height="300px"  />
        </div>
    </div>
</div>

<div class="classWithrowPad">
    <div class="row">
        <div class="col-md-6" >
            <img src="https://runawaydatabase.s3.amazonaws.com/ebd7a0dc38354a028f8c491f74f41a69.jpg" alt="examplead"  height="300px"  />
        </div>
        <div class="col-md-6 ">
            <div class="classWithPad">
                <h1>This database is created to tell the stories of people</h1>
                <p> 
                    Outside of the typical information these ads would held such as enslaver, 
                    poster, suspected, runaway area, etc. These ads reveal alot about the people.
                    The scars and branding of enslavement, prescribed ethnicity and name, the languages
                    they spoke, and their intentions
                </p>
            </div>
        </div>
    </div>
</div>


<div class="classWithrowPad">
    <div class="AboutText">
        <h1> A database by you for you </h1>
        <p> 
            Part of creating this website is to remove the barrier of access to this information
            that many people who don't study traditional academia would face. Creating this open 
            source database would allow academics, students, and the people of the Carribean learn
            more about their past.
        </p>
    </div>
</div>


{% endblock %}
